*{
    padding: 1;
    margin: 0;
    box-sizing: border-box;
}

#topbackground{
    background-image: url(./img/pattern.png);
    padding-top: 0;
    background-color: rgb(68, 178, 247);
    height: 175px;
    background-attachment: local;

}

#logo{
    padding-left: 5px;
    width: 300px;
    padding-top: 85px;

}


#titolo{
    font-size: 75px;
}

.scrittatras{
    color: rgba(8, 8, 8, 0.548);
    font-size: 25px;
    
}

#scrittablu{
    color: rgb(68, 178, 247) ;
    font-size: 20px;
}

#data{
    font-size: 15px;
    color: rgba(8, 8, 8, 0.548);
}

div{
    padding-top: 25px;
}

.evidgiallo{
    background-color: yellow;
}

#table{
    border-collapse: collapse;
    width: 100%;
}

#thblu{
    background-color: rgb(44, 148, 233);
    height: 20px;
    color: white;
    text-align: left;
}

.tdazzurro{
    background-color: rgb(151, 220, 247);
    height: 65px;
    padding: 0;
}

td{
    text-align: left;
    width: 30px;
}

#foto1{
    color: white;
    background-image: url(./img/monitor.jpg);
    background-repeat: no-repeat;
    font-size: x-large;
    line-height: 45px;
    height: 200px;
}

#foto2{
    color: white;
    background-image: url(./img/graph.jpg);
    background-repeat: no-repeat;
    font-size: x-large;
    line-height: 45px;
    height: 200px;
}


